/*Common Styles Start*/
html,body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
/*Common Styles End*/

/*Header Styles Start*/

/*Header Styles End*/

/*Section1 Styles Start*/

/*Section1 Styles End*/

/*Section2 Styles Start*/

/*Section2 Styles End*/

/*Section3 Styles Start*/

/*Section3 Styles End*/

/*Section4 Styles Start*/

/*Section4 Styles End*/

/*Section5 Styles Start*/

/*Section5 Styles End*/

/*Section6 Styles Start*/

/*Section6 Styles End*/
